$theme-colors: (
  "primary": #4285f4
);

$gray-300: #f2f2f2;

/*
$border-width (for cards/accordions)
$btn-link-disabled-color;
$input-focus-color;
$input-focus-bg
$input-box-shadow, $input-focus-box-shadow;


*/
$enable-shadows: true;


// Override some defaults
$card-spacer-x: .1rem;
