$theme-colors: (
  "primary": #4285f4
);

$gray-300: #f2f2f2;

/*
$border-width
$border-color
$btn-link-disabled-color;
$input-focus-color;
$input-focus-bg
$input-box-shadow, $input-focus-box-shadow;
$table-head-color;
$table-head-bg;
$table-border-width
$table-border-color
$headings-font-weight;
$modal-backdrop-opacity
$modal-content-border-color
$border-radius-lg
$modal-content-box-shadow-xs
$card-spacer-x
$card-spacer-y
$modal-content-bg
$form-text-margin-top
$jumbotron-bg
$input-btn-padding-x-sm

*/
$enable-shadows: true;


// Override some defaults
$card-spacer-x: .1rem;
