.card {
  //Accordion's are also used as the Frame's in Dialogs.
  // Don't show the border to reduce 'blockiness'
  border: 0;
  &-body &-body {
    //Remove Card Border from cards within cards
    border: $border-width solid transparent;
  }

  &-title{
    &-selected{
      color: color-yiq(theme-color("primary"));
      background-color: theme-color("primary");
      &:hover{
        color: color-yiq(theme-color("primary"));
      }
    }
    &-disabled {
      color: $btn-link-disabled-color;
      cursor: not-allowed;
      &:hover{
        color: $btn-link-disabled-color;
        text-decoration: none;
      }
    }
  }
}
