//This file fixes bugs and weird settings in Alpha

.invisible {
  // This is for making items invisible that Alpha adds
  // like extra rows or borders, etc...
  display: none;
}

/* stylelint-disable-next-line selector-max-id */
.bootstrapFooterTD,
#tbi.DIVIDER{
  //Hide all Divider's
  @extend .invisible;
}

.A5CWLayout {
  //Override all A5CWLayout's across entire app
  /* stylelint-disable-next-line declaration-no-important */
  box-sizing: inherit !important;
  /* stylelint-disable-next-line declaration-no-important */
  float: left !important;
  width: 100%;
  /* stylelint-disable-next-line declaration-no-important */
  padding: .1rem .1rem !important;
  & & {
    // When it's nested, remove the top padding
    /* stylelint-disable-next-line declaration-no-important */
    padding-top: 0 !important;
  }
}

//.row div {
//  width: 100%;
//}

/* stylelint-disable-next-line selector-max-id */
#LOG\.MASTERTEMPLATE,
#REGION\.MASTERTEMPLATE {
  @extend .vertically-center;
}
