.card {
  //Accordion's are also used as the Frame's in Dialogs.
  // Don't show the border to reduce 'blockiness'
  padding: var(--padding);
  border: $border-width solid var(--light-border-color);
  box-shadow: $box-shadow;

  &-body {
    padding: var(--padding);

    br {
      // Hide extra spacing
      // It's nice, but it causes problems
      // @extend .invisible;
    }

    & & {
      //Remove Card Border from cards within cards
      border: $border-width solid transparent;
    }

    .row {

    }
  }

  &-header {
    // Aligns the title
    padding: $spacer / 2;
    font-size: var(--font-size-lg);
    font-weight: var(--font-weight-bold);
  }

  &-title{
    &-selected{
      color: var(--primary-text);
      background-color: var(--primary);
      &:hover{
        color: var(--primary-text);
      }
    }
    &-disabled {
      color: $btn-link-disabled-color;
      cursor: not-allowed;
      &:hover{
        color: $btn-link-disabled-color;
        text-decoration: none;
      }
    }
  }
}
