.datepicker{
  text-align: center;
  @include border-radius($input-border-radius);
  direction: ltr;

  table {
    margin: 0;
    user-select: none;
  }

  td,
  th {
    @include border-radius($input-border-radius);
  }

  &-date,
  &-weekend,
  &-panel-item{
    &:hover {
      background: gray("300");
    }
  }

  &-item,
  &-panel-item{
    &-selected{
      @extend .btn-primary;
    }
    &-disabled {
      @extend .disabled;
      cursor: not-allowed;
    }
    @extend .btn;
    &:hover {
      cursor: pointer;
    }
  }

  &-panel-item {
    line-height: 3rem;
    text-align: center;
    border: none;
    @include border-radius($input-border-radius);
  }

  &-today {
    .datepicker-item {
      @extend .btn-success;
    }
  }

  &-weeks-of-year {
    width: 12px;
    padding: 0 2px 0 5px;
    font-size: 10px;
    vertical-align: middle;
  }
}
