.grid{
  &-header{
    //These styles are pulled from _table.scss
    // I had to pull them this way because Alpha doesn't use <thead> for Grids
    // .table thead th
    // .thead-light { th
    color: $table-head-color;
    vertical-align: bottom;
    background-color: $table-head-bg;
    border-bottom: (2 * $table-border-width) solid $table-border-color;
  }

  &-footer {
    @extend .font-weight-bold;
    .form-control {
      // This overrides block styling for footer inputs and selects
      display: inline-block;
      width: auto;
    }
  }

  &-dv{
    //&-label{}
    &-data{
      font-size: .875rem;
      font-weight: $headings-font-weight;
      label {
        //Don't wrap Lables
        white-space: nowrap;
      }
      @at-root {
        span#{&}{
          //Span with .grid-dv-label as class
          //Added here for semantic purposes
          margin-bottom: .3rem;
          white-space: nowrap;
        }
      }
      //&-error{}
    }
  }
}

.table {
  margin-bottom: 0;
  .grid-cell {
    // Use this to pinpoint items inside of cells!
    // This is mainly used to fix spacing
    .buttongroup {
      //Need to move them closer, so I have to use negative margins
      margin-top: -.2rem;
      margin-bottom: -.3rem;
    }
    .btn {
      margin-top: -.2rem;
      margin-bottom: .1rem;
    }
    select {
      margin-bottom: .1rem;
    }
  }
  &-sm th,
  &-sm td {
    padding-bottom: 0;
    //@at-root .modal-body &{
    //  border-top: 0;
    //}
  }
  tbody + tbody {
    border-top: 0;
  }

  //td {
  //  table {
  //   /* stylelint-disable-next-line selector-max-type */
  //    input {
  //      margin-top: .5rem;
  //    }
  //  }
  //} 
}

.table-inverse {
  color: color-yiq(theme-color("primary"));
  background-color: theme-color("primary");
  & td,
  & th,
  & thead {
    border-color: $table-border-color;
  }
  .btn {
    border: $border-width solid color-yiq(theme-color("primary"));
  }
}
