.full-background {
  //This pushes out a background for the login and region pages
  background: url("/images/backgrounds/1.jpg");
  background-size: cover;
}

// Override default cursor for the full calendar
.fc-daygrid-event {
  cursor: default;
}

.c {
  &-pointer{
    cursor: pointer;
  }
}

.icon {
  width: 24px;
  height: 24px;
  font-size: 24px;
  vertical-align: middle;
  fill: rgba(0, 0, 0, .54);
  &-disabled {
    fill: rgba(0, 0, 0, .26);
  }
  &-hover{
    fill: #00bcd4;
  }
}

label{
  padding-left: $table-cell-padding-sm;
  font-weight: var(--font-weight-bold);
}

.table-inverse {
  .icon {
    fill: rgba(255, 255, 255, 1);
    &-disabled {
      fill: rgba(255, 255, 255, .3);
    }
    &-hover {
      fill: #00bcd4;
    }
  }
}

.btn-inverse {
  border: $border-width solid $white;
}

/* .btn-container{
  //This gives buttons a little bit of wiggle room
  padding: 0 .1rem;
} */

.wait{
  &-message{
    opacity: 0;
    transition: opacity .25s ease-in-out;
  }
  &-lock{
    background-color: $black;
    opacity: 0;
    transition: opacity .25s ease-in-out;
  }
}

.lock {
  background-color: var(--primary-text);
  /* stylelint-disable-next-line declaration-no-important */
  opacity: .5 !important;
  transition: opacity .15s linear;
}

.vertically-center{
  display: flex;
  align-items: center;
  min-height: 100%;
  min-height: 100vh;
}

.repeating {
  &-section {
    &-row {
      & > div {
        width: 100%;
      }
    }
    .thead-default {
      // @extend .invisible;
    }
  }
  &-row {
    br {
      @extend .invisible;
    }
    & > div {
      &:first-child {
        width: 2rem;
      }
      width: calc(100% - 2rem);
    }
  }
}

a {
  color: var(--primary-text);
}
