.tab{
  &-band {
    @extend .nav-tabs;
  }

  &-item{
    @extend .nav-link;
    padding: $spacer / 4;
    margin-right: var(--padding);
    margin-bottom: -$nav-tabs-border-width;
    white-space: nowrap;
    background-color: $nav-tabs-link-active-bg;
    border: $nav-tabs-border-width solid $nav-tabs-border-color;
    @include border-top-radius($nav-tabs-border-radius);
    @include hover-focus {
      border-color: $nav-tabs-link-hover-border-color $nav-tabs-link-hover-border-color $white;
    }

    &:hover{
      color: $nav-tabs-link-active-color;
      background-color: var(--light);
    }

    .icon {
      width: 12px;
      height: 12px;
    }

    &--selected,
    &--selected:hover{
      font-weight: var(--font-weight-bold);
      color: $nav-tabs-link-active-color;
      background-color: var(--light);
      /* stylelint-disable-next-line declaration-no-important */
      border-color: $nav-tabs-link-active-border-color !important;
      /* stylelint-disable-next-line declaration-no-important */
      border-bottom-color: var(--light) !important;
    }

    &--disabled,
    &--disabled:hover{
      color: $nav-link-disabled-color;
      border-color: transparent;
      border-bottom-color: $nav-tabs-border-color;
      .icon {
        fill: $nav-link-disabled-color;
      }
    }
  }

  &-button,
  &-button--disabled{
    margin-right: 0;
    margin-bottom: $spacer / 4;
    &:hover{
      border: $nav-tabs-border-width solid transparent;
      border-bottom-color: $nav-tabs-border-color;
      .icon{
        fill: $nav-tabs-link-active-color;
      }
    }
  }
}

.bootstrapTabTBand {
  //These are overrides for a tabbed ui inside a pane, eg. customers, franchises
  @extend .tab-band;
  a {
    @extend .tab-item;
    /* stylelint-disable-next-line declaration-no-important */
    display: inline-block !important;
    color: var(--primary-text);
  }
  .bootstarpTabTPanes {
    @extend .tab-pane;
  }
}

#tbi\.TABBAND\.TABTABLE {
  margin-left: var(--padding);
}

@media print {
  .tab {
    display: none;
  }
}
