/* Tabbed UI */

/* Sidebar */
.sidebar {
  overflow-x: hidden;
  overflow-y: auto; /* Scrollable contents if viewport is shorter than content. */
  background-color: var(--background);
  &-left{
    border-right: $border-width solid var(--background);
  }
  &-right{
    border-left: $border-width solid var(--background);
  }
}

.navbar {
  &-header {
    display: inherit;
    font-weight: var(--font-weight-lg);
    background-color: var(--primary);
    @include box-shadow($modal-content-box-shadow-xs);
    a{
      font-weight: var(--font-weight-bold);
      color: var(--primary-text);
    }
  }
  &-footer {
    //nothing
    @extend .invisible;
  }
}

/*
 * Tabbed UI Content window
 */
.main {
  // This pushes the main content down off of the top navbar
  /* stylelint-disable-next-line declaration-no-important */
  padding-top: $form-text-margin-top !important;

  // This removes the padding on the actual Tabbed UI Pane
  // Brings things right to the edge of the window
  /* stylelint-disable-next-line selector-no-qualifying-type */
  div[id^="tbi.PANE."]{
    /* stylelint-disable-next-line declaration-no-important */
    padding: 0 !important;
  }
}

.tabSearch {
  // Integrated search for tabbed ui
  &Results{
    margin-top: $form-text-margin-top;
    &Button{
      max-width: 9vw;
      margin-left: $input-btn-padding-x-sm;
    }
  }
}

@media print {
  .sidebar,
  .navbar {
    display: none;
  }
}
