/* Tabbed UI */

/* Sidebar */
.sidebar {
  overflow-x: hidden;
  overflow-y: auto; /* Scrollable contents if viewport is shorter than content. */
  background-color: map-get($grays, 200);
  &-left{
    border-right: $border-width solid map-get($grays, 300);
  }
  &-right{
    border-left: $border-width solid map-get($grays, 300);
  }
}

.sidebar-header{
  @extend .navbar;
  display: inherit;
  background-color: map-get($theme-colors, primary);
  box-shadow: 0 0 4px rgba(0, 0, 0, .14), 0 4px 8px rgba(0, 0, 0, .28);
  //color: map-get($theme-colors,dark);
  a{
    color: $white;
  }
}

/*
 * Tabbed UI Content window
 */
.main {
  /* stylelint-disable-next-line declaration-no-important */
  padding: $form-text-margin-top 0 0 !important;
}

.tabSearchResults {
  margin-top: $form-text-margin-top;
}

.tabSearchResultsButton {
  max-width: 9vw;
  /* stylelint-disable-next-line declaration-no-important */
  margin-bottom: .5rem !important;
  margin-left: .5rem;
}
