.tree {
  color: theme-color($key: "primary");
  cursor: default;
  &Item {
    & + ul {
      // Add margin to tree branches
      /* stylelint-disable-next-line declaration-no-important */
      margin-left: 12px !important;
    }
    &Label {
      width: 100%;
      color: inherit;
      cursor: default;
      //display: inline-block;
    }
    &Hover{
      color: theme-color($key: "primary");
      background-color: gray($key: "300");
    }
    &Selected {
      color: gray($key: "300");
      background: theme-color($key: "primary");
      .icon {
        fill: gray($key: "300");
      }
      &:hover{
        color: gray($key: "300");
      }
    }
  }
  /* stylelint-disable */
  &Disabled {
    color: grey;
    border-color: silver;
    .icon {
      fill: pink;
      stroke: blue;
    }
  }
  /* stylelint-enable */
}
