.tree {
  &-branch {
    & & {
      // Add padding to nested tree branches
      /* stylelint-disable-next-line declaration-no-important */
      padding-left: 1rem !important;
    }
  }
  &-item {

    cursor: pointer;

    &-label {
      display: inline-block;
      width: 100%;
      color: inherit;
      cursor: default;
    }
    &-hover{
      a {
        color: var(--primary-text);
      }
      background-color: gray("300");
    }
    &-selected {
      color: var(--primary-text);
      background: var(--primary);
      a {
        color: var(--primary-text);
      }
      .icon {
        fill: gray("300");
      }
    }
  }
}
